/* FIXME: eslint-disable @typescript-eslint/unknown-vars */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

@layer components {
  .title {
    @apply text-white font-[sans-serif] text-[8vw] mx-[15vw] my-0 w-[70vw]
  }

  .side {
    @apply h-[100vh] w-[100vw] grid place-items-center overflow-hidden absolute
  }

  .nav-label {
    @apply text-neutral-400 cursor-pointer p-2 px-3 rounded-md hover:bg-neutral-700 hover:text-white
  }

  .payloadBtn {
    @apply flex items-center !px-10 group-hover:translate-y-[-50px] duration-[600ms] [transition-timing-function:cubic-bezier(.165,.84,.44,1)]
  }
}